/* ------------------- */
/* Utility classes     */
/* ------------------- */

:root {
  /* colors */
  --clr-primary: #eeeeee;

  /* font-sizes */
  --fs-headline: 1.8rem;
  --fs-big: 1.2rem;
  --fs-medium: 1.125rem;
  --fs-text: 0.875rem;
  --fs-small: 0.75rem;

  /* font-family */
  --ff-sans: "NeueHaasGroteskText Pro Md", sans-serif;

  /* spacer */
  --padding: 10px;
}

::-moz-selection {
  background: lightgray;
}

::selection {
  background: lightgray;
}

/* typography */

.fs-headline {
  font-size: var(--fs-headline);
}

.fs-headline {
  font-size: var(--fs-headline);
}

.fs-big {
  font-size: var(--fs-big);
}

.fs-medium {
  font-size: var(--fs-medium);
}

.fs-text {
  font-size: var(--fs-text);
}

.fs-small {
  font-size: var(--fs-small);
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fs-italic {
  font-style: italic;
}

.txt-uppercase {
  text-transform: uppercase;
  letter-spacing: 0.25px;
}

/* general */

.x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap);
}

.xjb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap, 1.25rem);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1em);
}

.fix {
  position: fixed;
}

.relative {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ------------------- */
/* homepage styles     */
/* ------------------- */

body {
  background-color: var(--clr-primary);
  font-family: "Neue Haas Grotesk ";
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3;
  position: relative;
  overflow-x: hidden;
}

.main {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

  -ms-flex-direction: column;

  flex-direction: column;
}

.header {
  width: 100vw;
  padding: var(--padding);
  padding-bottom: 0;
  z-index: 99;
}

.menu-item {
  margin-right: 0.2em;
}

.menu-item a:hover {
  text-decoration: underline;
}

.menu-item.active {
  text-decoration: underline;
}

.container {
  margin-inline: auto;
  width: 60%;
  max-width: 75rem;

  --gap: 2.5rem;
}

.col {
  margin-block: 3em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.screen-space {
  height: 100vh;
  width: 100vw;
}

.screen-space__narrow {
  height: 80vh;
  width: 100vw;
}

.scroll-bar__space {
  margin-right: 0.8vw;
}

.masks-container {
  margin-left: 35vw;

  -webkit-box-flex: 1;

  -ms-flex-positive: 1;

  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mask {
  cursor: pointer;
  -webkit-animation: appear 2s forwards;
  animation: appear 2s forwards;
}

@-webkit-keyframes appear {
  0% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes appear {
  0% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.m-one {
  height: 70vh;
  margin-right: 15vw;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.m-one:hover {
  height: 75vh;
}

.m-two {
  height: 80vh;
  margin-bottom: 5vh;
  margin-right: 12vw;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.m-two:hover {
  height: 85vh;
}

.m-three {
  height: 77vh;
  margin-right: 12vw;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.m-four {
  height: 77vh;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}

.m-three:hover,
.m-four:hover {
  height: 82vh;
}

/* ------------------- */
/*       filme         */
/* ------------------- */

.black-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: black;
  -webkit-animation: fade-in 500ms forwards;
  animation: fade-in 500ms forwards;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header.whiten {
  -webkit-animation: whiten 500ms forwards;
  animation: whiten 500ms forwards;
}

@-webkit-keyframes whiten {
  0% {
    color: black;
  }
  100% {
    color: var(--clr-primary);
  }
}

@keyframes whiten {
  0% {
    color: black;
  }
  100% {
    color: var(--clr-primary);
  }
}

.info-container {
  padding-left: var(--padding);
  -webkit-animation: whiten 500ms forwards;
  animation: whiten 500ms forwards;
}

.info-btn {
  background: none;
  color: inherit;
  border: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;

  position: absolute;
  margin-top: 3em;
}

.filme-description {
  position: absolute;
  width: 100%;
  -webkit-transition: 500ms forwards;
  -o-transition: 500ms forwards;
  transition: 500ms forwards;
  visibility: hidden;
}

.filme-description.visible {
  visibility: visible;
}

.filme-container {
  position: absolute;
  padding-inline: var(--padding);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.filme {
  width: 100%;
  color: var(--clr-primary);
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.7;

  -webkit-transition: 500ms forwards;

  -o-transition: 500ms forwards;

  transition: 500ms forwards;
  visibility: hidden;
}

.overlay.visible {
  visibility: visible;
}

/* ------------------- */
/*  série fotográfica  */
/* ------------------- */

.serie-container {
  margin-left: 20%;

  -webkit-box-flex: 1;

  -ms-flex-positive: 1;

  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  --gap: 2.5rem;
}

.serie-img {
  width: 30vw;
  -o-object-fit: contain;
  object-fit: contain;
}

/* ------------------- */
/*    project room     */
/* ------------------- */

.room-photos {
  position: absolute;
  inset: 0;
}

.room-photos__section {
  position: relative;
}

.room-photos__section:first-of-type {
  height: 85vh;
}

.room-photos__section + .room-photos__section {
  height: 100vh;
}

.room-photos__section > * {
  z-index: 10;
}

.photo-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 2rem;
  height: 40vh;
}

.photo-2 {
  margin: 0 0 25vh 2rem;
}

.photo-3 {
  margin-left: auto;
}

.photo-4 {
  margin: 32vh 2rem 32vh auto;
}

.photo-5 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
  -ms-transform: translate(-50%, -70%);
  transform: translate(-50%, -70%);
  height: 80vh;
}

.photo-6 {
  -o-object-fit: cover;
  object-fit: cover;
  height: 60vh;
  width: 100%;
}

.photo-7 {
  margin-left: 2rem;
}

.photo-8 {
  margin-left: 30%;
  margin-block: 15vh;
}

.photo-9 {
  margin: 15vh 2rem 15vh auto;
}

.photo-10 {
  margin: 15vh auto 15vh auto;
}

/* ------------------- */
/*        sobre        */
/* ------------------- */

.fake-header {
  opacity: 0;
}

.box {
  width: 100vw;
  height: 3.1em;
  background: var(--clr-primary);
}

.gradient {
  width: 100vw;
  height: 1.5em;
  background: rgb(238, 238, 238);
  background: -o-linear-gradient(bottom, rgba(238, 238, 238, 0) 0%, rgb(238, 238, 238) 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(238, 238, 238, 0)), to(rgb(238, 238, 238)));
  background: linear-gradient(0deg, rgba(238, 238, 238, 0) 0%, rgb(238, 238, 238) 100%);
}

.bottom {
  bottom: 0;
}

.box-bottom {
  width: 100vw;
  height: 2.1em;
  background: var(--clr-primary);
}

.gradient-bottom {
  width: 100vw;
  height: 1.5em;
  background: rgb(238, 238, 238);
  background: -o-linear-gradient(top, rgba(238, 238, 238, 0) 0%, rgb(238, 238, 238) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0)), to(rgb(238, 238, 238)));
  background: linear-gradient(180deg, rgba(238, 238, 238, 0) 0%, rgb(238, 238, 238) 100%);
}

.ficha {
  margin-top: 2em;
  margin-bottom: 1em;
}

.nn4n {
  display: none;
  position: absolute;
  max-height: 15rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 99;
}

.names:hover > img {
  display: inline;
}

.social {
  width: 2em;
  aspect-ratio: 1;
  margin-top: 1em;
}

.teaser {
  max-width: calc(30% - 1.25rem);
}

.slider {
  position: fixed;
  max-width: calc(30% - 1.25rem);
  margin-top: 37vh;
}

.slider__track {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.slides-1 {
  display: none;
}

.slide__img {
  width: 100%;
  aspect-ratio: 16/11;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider__button--left,
.slider__button--right {
  background: transparent;
  border: 0;
  cursor: pointer;

  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  opacity: 0.5;
  -webkit-transition: 100ms ease-in-out;
  -o-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;

  -ms-touch-action: manipulation;

  touch-action: manipulation;
}

.slider__button--left:hover,
.slider__button--right:hover {
  opacity: 1;
}

.slider__button--left {
  left: 0;
  padding: 0.75rem 0 0.75rem 1rem;
}

.slider__button--right {
  right: 0;
  padding: 0.75rem 1rem 0.75rem 0;
}

.slider__arrow--left,
.slider__arrow--right {
  width: 20px;
  aspect-ratio: 1;
  border: solid black;
  border-width: 0 2px 2px 0;
}

.slider__arrow--left {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.slider__arrow--right {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slider__button--left:active {
  padding-left: 0.75rem;
}

.slider__button--right:active {
  padding-right: 0.75rem;
}

.book-link {
  text-decoration: underline;
}

/* ------------------- */
/*      disorders      */
/* ------------------- */

.titulo {
  text-decoration: underline;
  line-height: 1.7;
}

.media-col {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.media-container {
  max-width: calc(30% - 2.5rem);
}

.mask-small {
  max-height: 55vh;
}
